* {
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;
}

.button {
    background-color: #611F69;
    color: white;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: 600;
    word-spacing: 5px;
    letter-spacing: 1px;
    font-size: 14px;
}

.button:hover {
    background-color: #4A154B;
    color: white;
}

a:hover {
    color: #4A154B;
}


button {
    text-align: center;
}

footer {
    background-color: #f8f8f8;
    height: 80px;
    border-top: 1px solid #ddd;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 13vh;
}

footer a.credits {
    background-image: image-url('github_logo.png');
    background-position: center;
    background-size: cover;
    height: 40px;
    width: 40px;
    margin-bottom: 3px;
}

footer a.credits:hover {
    background-image: image-url('github_logo_hover.png');
    background-position: center;
    background-size: cover;
    height: 40px;
    width: 40px;
    margin-bottom: 3px;
}

.no-scroll {
    overflow: hidden;
    margin-bottom: 0;
    max-height: 821px;
    position: relative;
}

