.add-channel-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 85vh;
}

.add-channel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 45%;
    height: 600px;
    margin-top: 100px;
}

.add-channel h1 {
    font-weight: 900;
    font-size: 24px;
    margin-bottom: 15px;
}

.add-channel > input {
    background-color: white;
    border: 1px solid rgb(116, 115, 115);
    border-radius: 5px;
    padding: 18px;
    font-size: 16px;
    letter-spacing: 0.5px;
    width: 100%;
    margin-bottom: 20px;
}

.add-channel > input:focus {
    border: 0.8px solid rgb(18, 18, 128);
    box-shadow: 0 0 0 3px lightblue;
}

.add-channel p {
    font-size: 12px;
    color: rgb(116, 115, 115);
}

.channels-list {
    overflow: scroll;
    height: 450px;
}

.channels-list li:hover {
    background-color: rgb(243, 243, 243);
}

.channel-item {
    padding: 10px;
    border-top: 1px solid rgb(209, 209, 209);
}

.channel-item strong {
    font-weight: 500;
}

.channels-list li:last-of-type {
    margin-bottom: 12px;
}

.channels-list li:last-of-type:hover {
    border-bottom: 1px solid rgb(209, 209, 209);
    margin-bottom: 11px;
}

p.subscribed-channels-label {
    padding-left: 12px;
    padding-bottom: 4px;
    font-size: 14px;
}

/* preview-button */
.preview-footer {
    background-color: rgb(243, 243, 243);
    bottom: 0px;
    height: 115px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.preview-info {
    text-align: center;
}

div.preview-info p:first-of-type {
    font-size: 19px;
    font-weight: 300;
    margin-bottom: 5px;
}

div.preview-info p:last-of-type {
    font-size: 15px;
    color: rgba(29,28,29,.7);
    font-weight: 200;
    margin-bottom: 10px;
}

button.join {
    background-color: #007a5a;
    color: white;
    border-radius: 5px;
    font-weight: 700;
    letter-spacing: 1px;
    font-size: 14px;
    padding: 10px 10px;
}

button.join:hover {
    box-shadow: 2px 1px 4px 1px rgba(122, 122, 122, 0.25);
}