.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    padding-left: 13vh;
    padding-right: 13vh;
}

.left {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 40%;
}

.logo {
    display: flex;  
    justify-content: flex-start;
    align-items: center;
    width: 106px;
}

.logo img {
    height: 25px;
    width: 25px;
}

.logo p {
    font-weight: 700;
    font-size: 28px;
    padding-bottom: 5px;
    padding-left: 5px;
    color: black;
}

.header-buttons {
    display: flex;
    justify-content: flex-end;
    font-size: 16px;
    width: 40%;
}

.header-buttons a {
    padding: 10px 15px;
    margin-left: 20px;
}

.header-buttons button {
    padding: 10px 15px;
}
