.channel-container {
    display: flex;
    flex-direction: column;
    align-content: center;
    position: relative;
    height: 100%;
    max-width: 100%;
}

/* channel header */ 

.channel-header {
    background-color: white;
    position: sticky;
    top: 0;
    border-bottom: 0.8px solid rgb(231, 230, 230);
    padding: 10px;
    padding-left: 20px;
    z-index: 2;
    min-height: 65.8px;
}

.channel-header h1 {
    font-size: 20px;
    padding-bottom: 1px;
}

.member-info {
    display: flex;
    justify-content: flex-start;
    color: rgba(29,28,29,.7);
    font-size: 15px;
    min-width: 28px;
}

.member-info a {
    padding-top: 2px;
}

div.member-info:hover > div.member-icon { background-image: image-url('member_hover.png'); }
    
div.member-info:hover > a { color: rgb(0, 110, 184); }

div.member-icon {
    background-image: image-url('member.png');
    background-position: center;
    background-size: cover;
    height: 16px;
    width: 16px;
    margin-top: 3px;
    margin-right: 3px;
}

div.member-icon:hover {
    background-image: image-url('member_hover.png');
}

div.settings {
    background-image: image-url('settings.png');
    background-position: center;
    background-size: cover;
    height: 25px;
    width: 25px;
    position: absolute;
    right: 30px;
    top: 20px;
}

div.settings:hover {
    background-image: image-url('settings_hover.png');
}

div.settings-dropdown {
    text-align: center;
}

/* settings dropdown */

.settings-dropdown-content- {
    display: none;
}

.settings-dropdown-content-visible {
    display: block;
    position: absolute;
    top: 30px;
    right: 0px;
    background-color: white;
    border-radius: 5px;
    border: 0.5px solid rgb(207, 207, 207);
    min-width: 275px;
    min-height: 75px;
    z-index: 5;
    padding: 24px 0;
    box-shadow: 2px 1px 4px 1px rgba(122, 122, 122, 0.25);
}

.settings-dropdown-content-visible div.dropdown-buttons {
    text-align: center;
}

div.general {
    background-color: rgb(175, 175, 175);
}

div.general:hover {
    background-color: rgb(175, 175, 175);
    color: rgb(90, 88, 88);
    cursor: not-allowed;
}

div.general > p.leave {
    color: rgb(90, 88, 88);
}

div.general:hover > p.leave {
    color: rgb(90, 88, 88);
}

