.channel-container {
    overflow: scroll;
    // padding: 20px;
    display: flex;
    flex-direction: column;
    align-content: center;
    position: relative;
    height: 100vh;
    max-width: 100%;
}

.channel-header {
    background-color: white;
    position: sticky;
    top: 0;
    border-bottom: 0.8px solid rgb(231, 230, 230);
    padding: 10px;
}

/* message form */

.message-form {
    background-color: white;
    position: fixed;
    bottom: 20px;
    left: 242px;
    width: 80%;
}

.message-form textarea {
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
    width: 100%;
    min-height: 45px;
    resize: none;
    border: 0.8px solid rgb(168, 168, 168);
    border-radius: 5px;
    background-color: white;
    position: sticky;
}

.messages li {
    background-color: white;
}

.messages li:hover {
    background-color: rgb(243, 243, 243);
}

div.message {
    padding: 10px;
    font-size: 14px;
}

