.sidebar {
    background-color: #3f0e40;
    height: 100vh;
    width: 220px;
    top: 0;
    color: rgb(207,195,207);
    display: float;
    float: left;
    /* for text */
    font-weight: 100;
    font-size: 15px;
    position: relative;
}

.sidebar h1 {
    font-size: 18px;
    padding-bottom: 3px;
    color: white;
}

.sidebar div.header {
    padding: 10px 10px;
}

/* channel-index */

.selected-channel {
    background-color: #1164A3;
    color: white;
}

.channel-info {
    padding: 3px 10px;
    font-weight: 100;
}

.channels-index {
    padding-top: 4px;
    position: relative;
}

.channels-index li.unselected:hover {
    background-color: #350e36;
}

.create-channel {
    background-image: image-url('plus.png');
    background-position: center;
    background-size: cover;
    position: absolute;
    top: 3.5px;
    height: 19px;
    width: 19px;
    right: 12px;
}

.create-channel:hover {
    background-image: image-url('plus_hover.png');
}

.index-container a {
    padding-left: 10px;
    font-weight: 700;
}

.index-container a:hover {
    color: white;
}

