/* component-wide */ 

.splash-container {
    text-align: center;
}

.splash-container h1 {
    font-size: 60px;
}

.splash-container h2 {
    font-size: 48px;
}

/* top */

.splash-top {
    position: relative;
    display: flex;
    height: 400px;
    flex-direction: column;
    align-items: center;
}

.splash-text {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-left: 40px;
    padding-right: 40px;
    min-height: 200px;
    margin-top: 70px;
}

.splash-byline h1 {
    padding-bottom: 5px;
}

.splash-text p {
    font-size: 15px;
}

.splash-byline p {
    font-size: 21px;
}

.splash-link {
    padding-left: 4px;
    text-decoration: underline;
    color: rgb(0, 110, 184);
    font-weight: 400;
}

.splash-link:hover {
    font-weight: 700;
    color: rgb(0, 110, 184);
}

.splash-byline {
    padding-bottom: 20px;
    text-align: center;
}

.splash-text .button {
    padding: 20px 30px;
    margin-bottom: 10px;
}

/* animation */

.splash-animation {
    float: left;
}

.splash-animation img {
    position: absolute;
    width: auto;
    height: 24px;
    z-index: -1;
}

/* animated icons */

.dropbox {
    top: 5vh;
    left: 10vh;
    animation: reverseOrbit 5s linear infinite, 
               fadeIn 3s;
}

.googledrive {
    top: 10vh;
    left: 50vh;
    animation: reverseOrbit 5s linear infinite, 
               fadeIn 3s;
}

.salesforce {
    top: 40vh;
    right: 10vh;
    animation: reverseOrbit 5s linear infinite, 
               fadeIn 3s;
}

.gotomeeting {
    top: 5vh;
    right: 60vh;
    animation: reverseOrbit 5s linear infinite, 
               fadeIn 3s;
}

.lattice {
    top: 5vh;
    right: 22vh;
    animation: reverseOrbit 5s linear infinite, 
               fadeIn 3s;
}

.giphy {
    top: 30vh;
    left: 55vh;
    animation: reverseOrbit 5s linear infinite, 
               fadeIn 3s;
            }
            
.dash {    
    top: 40vh;
    left: 30vh;
    animation: reverseOrbit 5s linear infinite, 
                fadeIn 3s;
}

.coda {
    top: 40vh;
    left: 30vh;
    animation: reverseOrbit 5s linear infinite, 
                fadeIn 3s;
}

.cisco {
    top: 42vh;
    right: 92vh;
    animation: reverseOrbit 5s linear infinite, 
                fadeIn 3s;
}

.asana {
    top: 20vh;
    right: 11vh;
    animation: orbit 5s linear infinite, 
               fadeIn 3s;
}

.jira {
    top: 25vh;
    right: 37vh;
    animation: orbit 5s linear infinite, 
               fadeIn 3s;
}

.zendesk {
    top: 40vh;
    right: 60vh;
    animation: orbit 5s linear infinite, 
               fadeIn 3s;
}

.onedrive {
    width: 5px;
    top: 40vh;
    left: 5vh;
    animation: orbit 5s linear infinite, 
               fadeIn 3s;
}

.zoom {
    top: 18vh;
    left: 28vh;
    animation: orbit 5s linear infinite, 
               fadeIn 3s;
            }
            
.teamline {
    top: 23vh;
    left: 7vh;
    animation: orbit 5s linear infinite, 
                fadeIn 3s;
                
            }
            
.outlook {            
    top: 18vh;
    left: 72vh;
    animation: orbit 5s linear infinite, 
                fadeIn 3s;
}

.loom {            
    top: -2vh;
    left: 80vh;
    animation: orbit 5s linear infinite, 
                fadeIn 3s;
}

@keyframes orbit {
    from { transform: rotate(0deg) translateX(10px) rotate(0deg); }
    to   { transform: rotate(360deg) translateX(10px) rotate(-360deg); }
}

@keyframes reverseOrbit {
    from { transform: rotate(0deg) translateX(10px) rotate(0deg); }
    to   { transform: rotate(-360deg) translateX(10px) rotate(360deg); }
}

@keyframes fadeIn {
    from { opacity: 0 }
    to   { opacity: 1 }
}

/* email form */

.email-form {
    display: flex;
    justify-content: space-between;
    width: 60vh;
    margin-bottom: 10px;
}

.email-form input.button {
    margin-bottom: 0;
    padding: 20px 30px;
}

.email-form input.email {
    background-color: white;
    border: 0.8px solid rgb(114, 114, 114);
    border-radius: 5px;
    padding: 12px;
    font-size: 16px;
    letter-spacing: 0.5px;
    width: 80%;
    margin-right: 10px;
}

/* slideshow */

.splash-slideshow {
    display: flex;
    justify-content: center;
    padding-left: 13vh;
    padding-right: 13vh;
    padding-top: 5vh;
    margin-bottom: 75px;
}

.splash-slideshow img {
    height: 100%;
    width: 100%;
}

.splash-slideshow .slide {
    height: 75%;
    width: 75%;
    box-shadow: 0 1px 5px rgba(77, 75, 75, 0.25);
    background-image: asset-url('slacc_homepage.png');
    background-position: center;
    background-size: cover;
}

/* slideshow nav bar */

.splash-slideshow nav {
    margin-left: 35px;
}

.splash-slideshow li {
    display: flex;
    justify-content: space-around;
    align-content: center;
    width: 225px;
    min-height: 70px;
    box-shadow: none;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    border-radius: 3px;
}

.splash-slideshow li div.slideshow-caption {
    text-align: left;
    padding: 10px;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    margin-left: 5px;
    letter-spacing: 0.5px;
}

.splash-slideshow li.selected div.slideshow-caption {
    font-weight: 700;
}


.splash-slideshow li.selected {
    box-shadow: 0 6px 17px rgba(133, 133, 133, 0.25);
}

.splash-slideshow li div.slideshow-icon-0 {
    background-image: image-url('icon_0.png');
    background-position: center;
    background-size: cover;
    height: 40px;
    width: 55px;
    margin-top: 15px;
}

.splash-slideshow li div.slideshow-icon-1 {
    background-image: image-url('icon_1.png');
    background-position: center;
    background-size: cover;
    height: 40px;
    width: 55px;
    margin-top: 15px;
}

.splash-slideshow li.selected div.slideshow-icon-0 {
    background-image: image-url('icon_0_hover.png');
    background-position: center;
    background-size: cover;
    height: 40px;
    width: 55px;
    margin-top: 15px;
}

.splash-slideshow li.selected div.slideshow-icon-1 {
    background-image: image-url('icon_1_hover.png');
    background-position: center;
    background-size: cover;
    height: 40px;
    width: 55px;
    margin-top: 15px;
}
